{
  "mcpServers": {
    "bored": {
      "type": "stdio",
      "command": "${userHome}/.cursor/exec-bored-mcp.sh",
      "envFile": "${userHome}/.cursor/mcp.env",
      "env": {
        "BORED_API_URL": "https://bored.desync.link",
        "OIDC_TOKEN_URL": "https://auth.desync.link/application/o/token/",
        "MCP_SCOPE": "bored:prod:access"
      }
    }
  }
}
